.dsmeta-card {
background: rgba(255, 255, 255, 0.28);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.2px);
-webkit-backdrop-filter: blur(2.2px);
}

.dsmeta-sales-title {
	font-size: 24px;
	margin-bottom: 20px;
}

.dsmeta-form-control-container {
	margin-bottom: 16px;
	max-width: 300px;
}

.dsmeta-form-control {
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	border: 1px solid rgba(255, 255, 255, 0.67);
	width: 100%;
	height: 46px;
	border-radius: 5px;
	color: #000000;
	padding: 0 20px;
	font-size: 18px;
	box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

.dsmeta-sales-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.dsmeta-sales-table thead {
	height: 55px;
	font-size: 16px;
	color: #e9e9e9;
	font-weight: 700;
}

.dsmeta-sales-table tbody {
	font-size: 14px;
	font-weight: 400;
	color: #cfcfcf;
	text-align: center;
}

.dsmeta-sales-table tbody tr {
	height: 74px;
}

.dsmeta-sales-table tbody tr:hover>td {
	background-color: rgb(231, 105, 122);
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
	background-color: rgb(233, 64, 87);
}

.dsmeta-red-btn-container {
	display: flex;
	justify-content: center;
}

.show576 {
	display: none;
}

.show992 {
	display: none;
}

@media (min-width: 576px) {
	.show576 {
		display: table-cell;
	}

	.dsmeta-card {
		padding: 35px;
	}

	.dsmeta-sales-table tbody tr {
		height: 55px;
	}

	.dsmeta-sales-table tbody {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.show992 {
		display: table-cell;
	}
}
